<!doctype html>
<html lang='ja'>
<head>
  <meta content= "text/html; charset=UTF-8" />
</head>
<body>
  <p><%= @user.name %>様<br>
    いつも大変お世話になっております。<br>
    今月の業界動向をお送りいたします。
</p>
<%= image_tag attachments['sample.jpg'].url %>
<p>(参照：https://www.maff.go.jp/j/chikusan/kikaku/lin/l_hosin/attach/pdf/index-530.pdf)

  <p>
  ----------------------------------------------------<br>
    〇〇株式会社<br>
    業界 太郎<br>
    Tel 0000-00-0000<br>
    address 〒000-0000 東京都〇〇区〇〇<br>
    email 〇〇@gmail.com<br>
  ----------------------------------------------------
  </p>
</body>



